/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/converted_videos/*.ts
/storage/converted_videos/*.m3u8
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
